body {
    font-family:"Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: #3046C5;
}

h3{
    color: blue;
}
 header h1{

    color: blue;
 }
header h2 {
    color: rgb(167, 167, 175);
}

.site-footer{
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, blue,black);
    color: white;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-image: linear-gradient(to right,blue, black);
}

.circle-pic {
    border-radius: 60%;
}